* {
	padding:  0;
	margin:  0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

html {
	height: 100%;
	/*background-image: url(../background/home_bg.png);*/
	background-image: url(../background/background2.2.png);
	background-repeat: no-repeat;
	/* background-attachment: fixed; */
	/* background-size: cover; */
}

body
{
	margin: 0 auto;
	max-width: 1440px;
}

div.wrapper {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	width: 86%;
	margin: 0 auto;
}

header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
	background-color: rgba(0, 0, 0, 0.3);
	margin-top: 0.5%;
	padding: 10px;
	width: 95%;
	border: 2px solid #1978e4b5;
}

img.logo {
	width: 80%;
}

a.login {
	display: block;
	color: white;
	text-decoration: none;
	border-bottom: 2px solid white;
	font-size: 16px;
}

main {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	width: 95%;
	margin-top: 0.8%;
}

section.leftSidebar {
	background-color: rgba(0, 0, 0, 0.5);
	border: 2px solid #1978e4b5;
	width: 14%;
	padding: 0.6% 0.3%;
	flex-grow: 1;
}

nav.leftSidebarNavigation {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	margin-bottom: 10%;
}

nav.leftSidebarNavigation > a {
	display: block;
	border: 2px solid #1fcecb;
	color: rgb(7, 136, 247);
	text-decoration: none;
	text-align: center;
	margin-bottom: 4%;
	background-color: white;
	font-size: 22px;
	padding: 1% 0;
	font-style: normal;
	width: 95%;
	font-size: 1vw;
	transition: all .1s;
}

nav.leftSidebarNavigation > a:hover {
	background-color: #1fcecb;
	border: 2px solid white;
	color: white;
	transition: all .1s;
}

section.center {
	display: flex;
	flex-flow:  column;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: rgba(0, 0, 0, 0.5);
	border: 2px solid #1978e4b5;
	width: 75%;
	margin-left: 2%;
	padding: 1%;
	color: white;
	flex-grow: 1;
	margin-bottom: 15px;
}

section.center h2
{
	padding: 1px 10px;
	text-align: center;
}
div.newsWrapper {
	/* display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center; */
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	margin-top: 2%;
}

div.news {
	/* align-self: stretch; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* min-height: 500px; */
	border: 2px solid rgba(255,255,255, 1);
	background-color: rgba(0, 0, 0, 0.7);
	padding: 25px;
}'

div.news > h3 {
	text-align: center;
}

div.news > img {
	margin: 2% 0;
	width: 300px;
	max-width: 100%;
	border-radius: 7px;
}

div.news article {
	margin-top: 5%;
	margin-bottom: 15px;
	text-indent: 15px;
	line-height: 25px;
}

div.news > p {
	margin-top: auto;
	float: right;
}

footer {
	margin-top: auto;
	border: 2px solid #1978e4b5;
	background-color: rgba(0, 0, 0, 0.5);
	width: 95%;
	padding: 10px;
	margin-bottom: 1%;
}

@media screen and (max-width: 850px)
{
	div.wrapper, main, header, footer
	{
		width: 100%;
	}
	header
	{
		margin-top: unset;
	}
	div.wrapper
	{
		padding: 10px;
	}
	nav.leftSidebarNavigation > a
	{
		font-size: 2vw;
	}
	div.news
	{
		width: 100%;
		height: unset;
		min-height: 500px;
	}
	div.newsWrapper
	{
		flex-flow: column wrap;
	}
	div.news
	{
		width: 100%;
		margin-bottom: 15px;
	}
	section.center
	{
		margin-bottom: 10px;
	}
	section.leftSidebar
	{

		padding: 1% 0.3%;
	}
	div.news h3
	{
		text-align: center;
	}
}

@media screen and (max-width: 550px)
{
	section.leftSidebar
	{
		width: 100%;
		padding: 1.6% 0.3%;
		margin-bottom: 15px;
	}
	header
	{
		margin-bottom: 10px;
	}
	section.center
	{
		margin-bottom: 10px;
		margin-left: unset;
	}
}
