* {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

html {
	background-image: url(../background/tile.png);
	background-repeat: repeat;
	backdrop-filter: blur(6px);
	min-height: 100%;
}

body
{
	margin: 0 auto;
	max-width: 1440px;
}

#wrapper {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
	background-color: rgba(0, 0, 0, 0.3);
	margin-top: 0.5%;
	padding: 10px;
	width: 95%;
}

img.logo {
	width: 40%;
}

a.login {
	display: block;
	text-decoration: none;
	border-bottom: 2px solid rgba(214,205,205,1);
	font-size: 16px;
	color: rgba(214,205,205,1);
}

main {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	width: 95%;
	margin-top: 1%;
}

section.top {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	padding: 0.6% 0.3%;
	display: flex;
}

nav.navigation {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	margin: 1%;
	width: 100%;
}

nav.navigation > a {
	display: block;
	color: rgb(7, 136, 247);
	text-decoration: none;
	text-align: center;
	border-radius: 3px;
	background-color: rgba(0, 169, 251, 0.3);
	color: white;
	padding: 2% 1%;
	width: 18%;
	transition: all .1s;
	font-size: 18px;
}

nav.navigation > a:hover {
	background-color: #1fcecb;
	color: white;
	transition: all .1s;
}

section.center {
	width: 100%;
	display: flex;
	background-color: rgba(0, 0, 0, 0.5);
	margin-top: 1%;
}

ul.listUsers {
	width: 50%;
	overflow-y: scroll;
	display: flex;
	flex-flow: column;
}

ul.listUsers > li {
	width: 95%;
	margin: 0 auto;
	list-style-type: none;
	display: flex;
	flex-flow: row;
	padding: 2%;
	margin-top: 2%;
	background-color: rgba(129, 129, 129, 0.5);
	color: white;
}

ul.listUsers > li > h4 {
	display: flex;
	align-items: center;
    width: 60%;
	cursor: pointer;
}
ul.listUsers > li > h4:hover {
	font-size: 13pt;
	color: #1fcecb;
}

ul.listUsers > li > a.userListButtons {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	cursor: pointer;
	color: white;
	text-decoration: none;
	transition: all .2s;
}

ul.listUsers > li > a.userListButtons:hover {
	color: blue;
	transition: all .2s;
}

div.infoAndButton {
	display: flex;
	width: 100%;
	flex-flow: column;
	align-items: center;
	margin: 1%;
}

div.avatarAndInfoUser {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
}

div.avatarAndInfoUser > img {
	width: 50%;
}

ul.infoUser {
	list-style-type: none;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-around;
	min-height: 400px;
	width: 45%;
}

ul.infoUser > li {
	width: 100%;
}

ul.infoUser p.userInfoDescripton {
	text-align: center;
	color: white;
	margin-bottom: 5px;
}

ul.infoUser p.innerUserInfo {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(129, 129, 129, 0.5);
	border-radius: 3px;
	padding: 1%;
}

.buttons {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.add {
	display: flex;
	margin: 2% 1%;
	width: 35%;
	justify-content: center;
	align-items: center;
	padding: 2%;
	font-size: 25px;
	border-radius: 5px;
	cursor: pointer;
	background-color: rgba(0, 169, 251, 0.3);
	color: white;
	text-decoration: none;
	text-align: center;
}

.add:hover {
	background-color: #1fcecb;
	color: white;
	transition: all .1s;
}

.bgAddNews, .bgAddUser, .bgAddRoom{
	position: fixed;
	top: 0%;
	left: 0;
    width: 100%;
    min-height: 100%;
	display: none;
	overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: rgba(210, 210, 210, 0.57);
}

.addForm {
	display: flex;
	flex-flow: column;
	width: 35%;

	background-color: rgba(26, 26, 26, 0.5);
	align-items: center;
	justify-content: center;
	padding: 1%;
}

.addForm > h2 {
	display: flex;
	justify-content: center;
	color: white;
}

.addForm > form {
	display: flex;
	flex-flow: column;
	width: 85%;
}

.radio {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
}

#userRadio, #adminRadio, label {
	display: flex;
	align-items: center;
	margin: 4% 4px;
	font-size: 20px;
}

input, textarea
{
	height: 70px;
	font-size: 16pt;
	margin: 2px 0px;
}

.button
{
	cursor: pointer;
	background-color: black;
	transition: all 0.4s;
	color: white;
	font-size: 20pt;
}

.button:hover
{
	background-color: rgb(71, 133, 184);
	color: black;
    transition: all 0.4s;
}

input[type="radio"]{
	width: 18px;
	height: 18px;
}

.addRoom > h2, .radio {
	color: white;
}

.message {
	color: white;
	margin: 1% 0px;
	padding: 1% 0.5%;
	font-size: 18px;
	background-color: rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 1200px)
{
	p.innerUserInfo 
	{
		font-size: 13px;
	}
}

@media screen and (max-width: 730px)
{
	div.avatarAndInfoUser, .buttons, section.center
	{
		flex-flow: column;
		align-items: center;
	}
	ul.infoUser, .add
	{
		width: 100%;
	}
	p.innerUserInfo 
	{
		font-size: 18px;
	}
	ul.listUsers
	{
		width: 100%;
	}
	nav.navigation > a
	{
		font-size: 10px;
	}
	header, main
	{
		width: 100%;
	} 
}

@media screen and (max-width: 800px), (max-height: 800px)
{
	.addForm 
	{
		width: 80%;
		min-height: 300px;
	}
	input 
	{
		height: 40px;
	}
}

@media screen and (max-height: 550px)
{
	input, textarea
	{
		height: 15px;
		width: 180px;
	}
	.addForm > .form > h2 
	{
		font-size: 11pt;
	}
	.button, input, textarea
	{
		font-size: 8pt;
	}
	.addForm > form 
	{
		align-items: center;
	}
}
@media screen and (max-width: 550px)
{
	main > .top > .navigation
	{
		flex-flow: column;
	}
	.navigation > a 
	{
		min-width: 100%;
		margin: 4px 0px;
	}
}