* {
	padding:  0;
	margin:  0;
	font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html,body
{
    min-height: 100%;
}
html {
	background-image: url(../background/tile.png);
    background-repeat: repeat;
    backdrop-filter: blur(6px);
}
body
{
    margin: 0 auto;
    max-width: 1700px;
    display: flex; 
}

#chat
{
    display: flex;
    border: 0px solid black;
    height: 900px;
    flex: 7 1 900px;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0px;
    margin-left: 160px;
}
section
{
    display: flex;
    max-width: 1000px;
    min-height: 750px;
    border: 0px solid black;
    background-color: black;
    opacity: 0.8;
}
#form_message
{
    display: flex;
    border: 1px solid black;
    max-width: 1000px;
    min-height: 60px;
    justify-content: space-between;
}
#message
{
    flex: 5 2 750px;
    font-size: 20pt;
}
#send
{
    border: 0px solid black;
    flex: 2 5 100px;
    cursor: pointer;
    font-size: 20pt;
    background-color: black;
    opacity: 0.8;
    color: white;
}
#send:hover
{
    background-color: white;
    opacity: 0.8;
    color: black;
}

#right
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0px solid black;
    height: 900px;
    flex: 1 7 300px;
    padding: 30px 0px;
    margin-right: 160px;
    margin-left: 1%;
}
nav, aside 
{
    border: 0px solid black;
    background-color: black;
    opacity: 0.8;
    min-width: 100%;
    min-height: 300px; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
nav
{
    margin-top: 20px;
}
aside
{
    margin-bottom: 20px;
}
a, p
{
    display: block;
	color: rgb(7, 136, 247);
	text-decoration: none;
	text-align: center;
	margin-bottom: 4%;
	border-radius: 3px;
	
	background-color: rgba(0, 169, 251, 0.3);
	color: white;
	padding: 4% 2%;
	width: 95%;
	/* font-size: 1vw; */
	transition: all .1s;
}
p
{
    cursor: pointer;
}
a:hover, p:hover
{
    background-color: #1fcecb;
	color: white;
    transition: all .1s;
}
#name
{
    border: 0px solid black;
    opacity: 0.8;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    min-width: 100%;
}
h3
{
    color: white;
    font-size: 20pt;
}
