* {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

html {
	background-image: url(../background/tile.png);
	background-repeat: repeat;
    backdrop-filter: blur(6px);
    min-height: 100%;
}

body
{
	margin: 0 auto;
	max-width: 1440px;
}

#wrapper {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 10px;
	width: 100%;
}

img.logo {
	width: 40%;
}

main {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	width: 95%;
	margin-top: 1%;
}

section.top {
	margin-top: 15px;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	padding: 0.6% 0.3%;
	display: flex;
	border-radius: 5px;
}

nav.navigation {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	margin: 1%;
	width: 100%;
}

nav.navigation > a {
	display: block;
	text-decoration: none;
	text-align: center;
	border-radius: 3px;
	background-color: rgba(0, 169, 251, 0.3);
	color: white;
	padding: 2% 1%;
	width: 18%;
	transition: all .1s;
	font-size: 16px;
}

nav.navigation > a:hover {
	background-color: #1fcecb;
	color: white;
	transition: all .1s;
}


form {
    width: 40%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    flex-flow: column;
    padding: 1%;
    margin: 10% auto;
}

input {
    margin: 2%;
    padding: 2%;
    font-size: 18px;
}

.button {
    cursor: pointer;
}



@media screen and (max-width: 1500px)
{
	nav.navigation > a {
		font-size: 15px;
	}
}

@media screen and (max-width: 1100px)
{
	nav.navigation > a {
		font-size: 12px;
	}

	form {
		width: 50%;
	}
}

@media screen and (max-width: 850px)
{
	nav.navigation {
		flex-flow: column;
	}

	nav.navigation > a {
		font-size: 2vw;
		width: 90%;
		margin: 1%;
	}


	form {
		width: 60%;
	}
}

@media screen and (max-width: 500px)
{
	img.logo {
		width: 45%;
	}

}