body, html
{
    min-height: 100%;
    min-width: 100%;
    overflow-y: hidden;
}
#auth
{
    border: 0px solid black;
    background-color: black;
    opacity: 0.7;
    height: 400px;
    min-width: 600px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 15% auto;
}
.auth_out, #auth_out
{
    width: 300px;
    height: 50px;
    font-size: 20pt;
    
}
#auth_out
{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
	color: rgb(7, 136, 247);
	background-color: rgba(0, 169, 251, 0.3);
	color: white;
	/* font-size: 1vw; */
	transition: all .1s;
}
#auth_out:hover
{
    background-color: #1fcecb;
	color: white;
	transition: all .1s;
}
a
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70%;
    height: 50px;
    min-width: 125px;
    background-color: black;
    opacity: 0.6;
    padding: 1rem 1.25rem;
    font-family: arial;
    font-size: 20pt;
    text-decoration: none;
    color: white;
    position: relative;
    -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    z-index: 1;
}
a:after
{
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 1.25rem;
    left: 1.25rem;
    background-color: #ffffff;
    -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    z-index: -1;
}
a:hover
{
    color: #2D2D2D;
}
a:hover:after
{
    right: 0;
    left: 0;
    height: 100%;
}
h1 
{
    color: white;
    opacity: 0.8;
    font-size: 25pt;
}

@media screen and (max-width: 900px)
{
    a, #auth
    {
        margin: 0px auto;
        min-width: 320px;
    }
    a
    {
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 360px)
{
    a
    {
        padding: 0px;
    }
}