*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

div.headerWrapper {
  background-image: url("../img/4hh8mjbqyye-ewan-robertson.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  min-height: 600px;
  position: relative;
  padding: 2vh 2vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  color: white;
}

div.header-overlay {
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 0;
  background-image: -moz-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
  background-image: -webkit-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
  background-image: -ms-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
}

header, div.main-text, div.down-arrow, div.columns {
    z-index: 2;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}

div.logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  -ms-align-items: center;
  align-items: center;
}

div.logo > img {
  width: 40px;
}

div.logo > h3 {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: 1vw;
}

ul.headerNavigation {
  width: 55%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul.headerNavigation li > a {
  color: white;
  font-size: 0.9rem;
}

a.get-started-btn {
  margin-left: 5vw;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  padding: 1vh 1vw;
  font-weight: bold;
  transition: all .4s; 
}

a.get-started-btn:hover {
  background-color: rgb(110, 69, 226);
  transition: all .4s; 
}

div.main-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

span.description {
  font-size: 0.9rem;
  margin-bottom: 2vh;
}

div.main-text span.description::after, div.main-text span.description::before {
  background-color: #fff;
}

span.description::after, span.description::before {
  content: "";
  width: 1.7vw;
  height: 1px;
  vertical-align: middle;
  
  display: inline-block;
}

span.description::before {
  margin-right: 1vw;
}

span.description::after {
  margin-left: 1vw;
}

div.main-text h1, div.select-a-plan h1 {
  font-size: 3rem;
  text-align: center;
  -moz-transform: matrix( 1.42422241571191,0,0,1.42422241571191,0,0);
  -webkit-transform: matrix( 1.42422241571191,0,0,1.42422241571191,0,0);
  -ms-transform: matrix( 1.42422241571191,0,0,1.42422241571191,0,0);
  margin-bottom: 3vh;
  font-weight: normal;
}

div.main-text p, div.select-a-plan p {
  max-width: 20vw;
  text-align: center;
  line-height: 1.5vw;
}

div.down-arrow {
  margin-bottom: 1vh;
}

div.down-arrow > img {
  border-radius: 100%;
  width: 100px;
  box-shadow: 0px 0px 15px 2px #fff;
}

main, div.map, div.map-overlay {
  padding: 10vh 10vw;
}

main {
  width: 100%;
  background-color: rgb(234, 238, 252);
  box-shadow: inset 0px 1px 0px 0px rgba(232, 235, 241, 0.004),inset 0px -1px 0px 0px rgba(232, 235, 241, 0.004);
}

div.select-a-plan {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  -ms-align-items: center;
  align-items: center;
}

div.select-a-plan span.description::after, div.select-a-plan span.description::before {
  background-color: #6e45e2;
  width: 1vw;
}

div.select-a-plan span.description::before {
  margin-right: 0.6vw;
}

div.select-a-plan span.description::after {
  margin-left: 0.6vw;
}

div.select-a-plan h1 {
  text-shadow: rgba(110, 69, 226, 0.7) 0px 0px 4px ;
}

div.select-a-plan p {
  max-width: 26vw;
}

div.columns {
  font-family: "Maven Pro", sans-serif;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 7vh;
}

div.column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(215, 219, 232);
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  width: 27%;
  padding: 3% 2%;
  min-height: 550px;
  transition: all .4s;
}

div.column:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 50px 10.12px rgba(204, 204, 223, 0.71);
  transition: all .4s;
  transform: scale(1.1);
}

div.column p.plan-type {
  margin: 2vh 0vw;
  font-size: 14px;
  color: rgb(159, 164, 175);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

span.currency, span.sum, span.per-month {
  color: rgb(79, 79, 111);
  text-align: center;
  font-weight: bold;
}

div.column span.currency {
  font-size: 30px;
  font-weight: normal;
}

div.column span.sum {
  font-size: 42px;
  -moz-transform: matrix( 1.42422241571191,0,0,1.42422241571191,0,0);
  -webkit-transform: matrix( 1.42422241571191,0,0,1.42422241571191,0,0);
  -ms-transform: matrix( 1.42422241571191,0,0,1.42422241571191,0,0);
}

div.column p.plan-description {
  font-size: 0.7rem;
  color: rgb(159, 164, 175);
  line-height: 1.75;
  text-align: center;
  margin: 2vh 0vw;
  padding: 0vh 2vw;
}

a.select-plan {
  display: block;
  margin-top: 2vh;
  font-size: 0.8rem;
  color: rgb(194, 201, 219);
  font-weight: bold;
  border: 1px solid rgb(215, 219, 232);
  box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
  border-radius: 30px;
  padding: 2vh 4vw;
  transition: all .4s;
}

a.select-plan:hover {
  background-color: rgb(110, 69, 226);
  transition: all .4s;
  color: rgb(255, 255, 255);
}

div.pre-footer {
  width: 100%;
  padding: 0 5vw;
  background-image: -moz-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
  background-image: -webkit-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
  background-image: -ms-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
  z-index: 0;
}

div.map-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-image: url("../img/Map.png");
  -webkit-background-size: 70% 100%;
  background-size: 70% 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  left: 0px; top: 0px;
  z-index: 2;
  padding: 12vh 0vw;
}

div.map-container span.description, div.map-container h1 {
  color: #fff;
}

div.map-container span.description {
  margin-bottom: 1vh;
}

div.pre-footer-btns {
  width: 40%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
   margin-top: 2vh;
}

div.pre-footer-btns a {
  margin-top: 0;
  padding: 2vh 0;
  max-width: 300px;
  width: 12vw;
  text-align: center;
  color: rgb(194, 201, 219);
  font-weight: bold;
  border: 1px solid rgb(215, 219, 232);
  box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
  background-color: rgb(255, 255, 255);

}

div.pre-footer-btns a:last-child {
  margin-left: 1.5vw;
}