* {
	padding:  0;
	margin:  0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

html {
	background-image: url(../background/tile.png);
	background-repeat: repeat;
	backdrop-filter: blur(6px);
}

body
{
	margin: 0 auto;
	max-width: 1440px;
}

div.wrapper {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	width: 86%;
	margin: 0 auto;
}

header, section.center, section.leftSidebar, footer{
	background-color: rgba(0, 0, 0, 0.3) !important;
}

header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
	background-color: rgba(0, 0, 0, 0.3);
	margin-top: 0.5%;
	padding: 10px;
	width: 95%;
}

img.logo {
	width: 80%;
}

a.login {
	display: block;
	border-bottom: 2px solid rgba(214,205,205,1);
	font-size: 16px;
	color: rgba(214,205,205,1);
}

main {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	width: 95%;
	margin-top: 0.8%;
}

section.leftSidebar {
	background-color: rgba(0, 0, 0, 0.5);
	width: 14%;
	padding: 0.6% 0.3%;
	flex-grow: 1;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

nav.leftSidebarNavigation {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

nav.leftSidebarNavigation > a {
	display: block;
	color: rgb(7, 136, 247);
	text-decoration: none;
	text-align: center;
	margin: 4% 0px;
	border-radius: 3px;
	
	background-color: rgba(0, 169, 251, 0.3);
	color: white;
	padding: 4% 2%;
	width: 95%;
	/* font-size: 1vw; */
	transition: all .1s;
}

nav.leftSidebarNavigation > a:hover {
	background-color: #1fcecb;
	color: white;
	transition: all .1s;
}

section.center {
	display: flex;
	flex-flow:  column;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: rgba(0, 0, 0, 0.5);
	width: 75%;
	margin-left: 2%;
	padding: 1%;
	flex-grow: 1;
	margin-bottom: 15px;
	color: rgba(214,205,205,1);
}

section.center h2 {
	padding: 1px 10px;
	text-align: center;
	color: rgba(214,205,205,1);
	width: 100%;
}

div.newsWrapper {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	margin-top: 2%;
}

a.news {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 2px solid  rgba(0, 169, 251, 0.8);
	background-color: rgba(0, 0, 0, 0.7);
	padding: 25px;
	border-radius: 3px;
	color: rgba(214,205,205,1);
	text-decoration: none;
	transition: all .1s;
	box-shadow: 0px 0px 10px #2AAEFF; /* Параметры тени */
}

a.news:hover {
	transition: all .1s;
	border: 2px solid #1fcecb;
}

a.news h3 {
	text-align: center;
}

a.news img {
	margin: 2% 0;
	width: 300px;
	max-width: 100%;
	border-radius: 7px;
}

a.news article {
	margin-top: 5%;
	margin-bottom: 15px;
	text-indent: 15px;
	line-height: 25px;
}

a.news > p {
	margin-top: auto;
	float: right;
}

.images {
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.image {
	width: 100%;
	justify-content: center;
}

.image > img {
	width: 80%;
	height: 60%;
	box-shadow: 0px 0px 10px #2AAEFF; /* Параметры тени */
}

.buttons {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

footer {
	justify-content: center;
	margin-top: auto;
	background-color: rgba(0, 0, 0, 0.5);
	width: 95%;
	padding: 10px;
	margin-bottom: 1%;
}

div.footerNav {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-start;
}

nav.footerNav {
	width: 25%;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	margin: 2% 0;
	list-style-type: none;
}

nav.footerNav > a {
	width: 70%;
	display: block;
	color: white;
	background-color: rgba(0, 169, 251, 0.3);
	text-decoration: none;
	text-align: center;
	margin-bottom: 5%;
	padding: 2%;
	border-radius: 3px;
	transition: all .2s;
}

nav.footerNav > a.bottomA {
	margin-bottom: 0%;
}

nav.footerNav > a:hover {
	transition: all .2s;
	background-color: #1fcecb;
}

div#footerMap {
	display: flex;
	justify-content: center;
}

div.counter {
	margin-top: 2%;
}

@media screen and (max-width: 850px)
{
	div.wrapper, main, header, footer
	{
		width: 100%;
	}
	header
	{
		margin-top: unset;
	}
	div.wrapper
	{
		padding: 10px;
	}
	nav.leftSidebarNavigation > a
	{
		font-size: 2vw;
	}
	div.news
	{
		width: 100%;
		height: unset;
		min-height: 500px;
	}
	div.newsWrapper
	{
		flex-flow: column wrap;
	}
	div.news
	{
		width: 100%;
		margin-bottom: 15px;
	}
	section.center
	{
		margin-bottom: 10px;
	}
	section.leftSidebar
	{

		padding: 1% 0.3%;
	}
	div.news h3
	{
		text-align: center;
	}
}

@media screen and (max-width: 320px)
{
	section.leftSidebar
	{
		width: 100%;
		padding: 1.6% 0.3%;
		margin-bottom: 15px;
	}
	header
	{
		margin-bottom: 10px;
	}
	section.center
	{
		margin-bottom: 10px;
		margin-left: unset;
	}
}

@media screen and (max-width: 800px)
{
	div.logo 
	{
		width: 45%;
	}
}