* {
	padding:  0;
	margin:  0;
}

html, body {
	height: 100%;
	background-image: url(../background/home_bg.png);
	/*background-image: url(../background/background.png);*/
	background-repeat: no-repeat;
	/*background-position: 20%;*/
}

div.wrapper {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
}

header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
	background-color: rgba(68, 93, 119, 0.4);
	margin-top: 0.5%;
	border-radius: 10px;
	padding: 10px;
	width: 95%;
	border: 2px solid #1978e4b5;
}

img.logo {
	width: 80%;
}

a.login {
	display: block;
	color: white;
	text-decoration: none;
	border-bottom: 2px solid white;
	font-size: 16px;
}

main {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	width: 94%;
	margin-top: 0.8%;
}

section.leftSidebar {
	background-color: rgba(52, 181, 255, 0.1);
	border-radius: 10px;
	border: 2px solid #1978e4b5;
	width: 14%;
	padding: 0.6% 0.3%;
}

nav.leftSidebarNavigation {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

nav.leftSidebarNavigation > a {
	display: block;
	color: rgb(7, 136, 247);
	text-decoration: none;
	text-align: center;
	margin-bottom: 4%;
	background-color: white;
	border-radius: 10px;
	font-size: 22px;
	padding: 1% 0;
	font-style: italic;
	width: 95%;
}

nav.leftSidebarNavigation > a:hover {
	background-image: linear-gradient(to right, #FFFFFF, #000000);
}

section.center {
	display: flex;
	flex-flow:  column;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: rgba(58, 87, 122, 0.2);
	border: 2px solid #1978e4b5;
	border-radius: 10px;
	width: 75%;
	margin-left: 2%;
	padding: 1%;
	color: white;
}

div.newsWrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	margin-top: 2%;
}

div.news {
	width: 30%;
	border: 2px solid rgba(255,255,255, 1);
	padding: 1%;
	border-radius: 10px;
}

div.news > img {
	margin: 2% 0;
}

div.news > p {
	margin-top: 3%;
	float: right;
}

footer {
	margin-top: 1%;
	background-color: rgba(99, 94,105Ð± 0.3);
	border: 2px solid #1978e4b5;
	border-radius: 10px;
	width: 95%;
	padding: 10px;
}